// ----------------------------------------
// ----------------------------------------
// ----------------------------------------
header.page-sectiob.header
    .header__title go surf
    menu.menu.header__menu
        .menu__top
            .menu__title go <span> - </span> surf
        ul.menu__nav-lists
            li.menu__nav-item
                .menu__nav-link
                    img(src="images/nav_item-1.svg")
                .menu__nav-text Surf
            li.menu__nav-item
                .menu__nav-link
                    img(src="images/nav_item-2.svg")
                .menu__nav-text Travel
            li.menu__nav-item
                .menu__nav-link
                    img(src="images/nav_item-3.svg")
                .menu__nav-text Sleep
            li.menu__nav-item
                .menu__nav-link
                    img(src="images/nav_item-4.svg")
                .menu__nav-text Shop

        button.menu__search
            img(src="images/search.svg")
        .menu__info
            .menu__info-day 20
            .menu__info-time 06 | 2018
            .menu__info-position
                img(src="images/point.svg")
                p California


    .header__slider
        .slider-arrows.header__slider-arrows
            button.slider-arrows__arrow
                img(src="images/arrow-left.svg", alt="->")
            button.slider-arrows__arrow
                img(src="images/arrow-right.svg", alt="<-")
        .header__slider-item
            .header__slider-info
                .subtitle.subtitle_pos_left.header__slider-subtitle SURF
                .title.header__slider-title WEST SHORE
                .subtitle.subtitle_pos_left.header__slider-subtitle CONDITION
                .title.header__slider-text RADICAL
                button.header__slider-link
                    img(src="images/arrow-right.svg" alt="->")
    .slider-dots.header__slider-dots
        .slider-dots__item
            .slider-dots__item-count 01
            .slider-dots__item-title North Shore
        .slider-dots__item
            .slider-dots__item-count 02
            .slider-dots__item-title South Shore
        .slider-dots__item.slider-dots__item_selected
            .slider-dots__item-count 03
            .slider-dots__item-title West Shore
        .slider-dots__item
            .slider-dots__item-count 04
            .slider-dots__item-title East Shore




